* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: rgba(234, 230, 224, 1);
    border-radius: 0px;
    position: sticky;
    top: 0;
}

.traveler_header {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    letter-spacing: 4px;
    color: rgb(37, 35, 35);
    margin: 4px 32px;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    color: rgb(37, 35, 35);
    margin: 30px;
}

.l_home:hover {
    color: rgb(151, 44, 44);
}

.l_trips {
    border-bottom: 3px solid rgba(37, 35, 35, 0.7);
}

.l_gallery:hover {
    color: rgb(151, 44, 44);
}

.header_background {
    margin-left: auto;
    margin-right: auto;
    height: 164px;
    background-image: url(./images/WanakaLake_long.jpg);
    background-size: cover;
}


.trips {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
    margin-top: 16px;
}

.trips_photos {
    display: block;
    max-width: 25%;
    padding-top: 32px;
}

.trips_content {
    max-width: 60%;
}

.trips_describe {
    font-family: "Open Sans", sans-serif;
    margin-right: 32px;
}

.trips_map {

    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trips_header {
    font-size: 42px;
    font-weight: 400;
    margin-top: 16px;
}

.map_link {
    width: 160px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(57, 96, 172);
    font-weight: 400;
    font-size: 18px;
    color: #eee;
    border-style: none;
    border-radius: 4px;
    box-shadow: 2px 2px 16px 1px rgb(183, 180, 180);
    padding-top: 12px;
}

.map_link:hover {
    background-color: rgba(57, 96, 172, 0.7);
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(234, 230, 224, 1);
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer_love{
    color: rgb(192, 28, 28);
    font-style: italic;
}

.footer_logo{
    font-family: "Pacifico";
    font-size: 18px;
    font-weight: 700;
}

.footer_p{
    padding-left: 16px;
    padding-right: 32px;
}

