*{
  box-sizing: border-box;
  margin: 0 auto; 
}

body{
width: 1200px;
}

div{
max-width: 900px;
width: 100%;
min-height: 700px;
background-color: rgba(205, 133, 63, .5);
text-align: center;
}

ol{
  list-style:disc;
}